---
---

:root {
    --kotor-bg: #000016;
    --kotor-bg-alt: rgb(16, 19, 46);
    --kotor-fg-light: #00aeff;
    --kotor-fg-dark: #00598c;
    --kotor-menu: #05f018;
    --kotor-selected: #f0ff00;
  
}

@import "style.css"

