---
---

:root {
    --kotor-bg: rgb(32, 32, 32);
    --kotor-fg-light: rgb(229, 195, 128);
    --kotor-fg-dark: rgb(55, 51, 43);
    --kotor-menu: rgb(102, 0, 0);
    --kotor-selected: #f0ff00;
  
}

@import "style.css"

