---
---

:root {
    --kotor-bg: rgb(8, 36, 29);
    --kotor-fg-light: rgb(46, 196, 165);
    --kotor-fg-dark: rgb(29, 119, 99);
    --kotor-menu: rgb(245, 188, 106);
    --kotor-selected: rgb(217, 217, 196);
  
}

@import "style.css"

