{% assign dirs = page.url | split: "/"%}
{% assign game = dirs[1] %}

{% assign p_title = page.name | split: "." | first %}
{% if p_title == "index" %}
    {% assign p_title = "" %}
{% else %}
    {% assign p_title = p_title | prepend: " | " %}
{% endif %}

<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

<head>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script> -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>KotOR Speedrun Guides{{ p_title }}</title>
    {% if game == "kotor1" %}
    <link rel="stylesheet" href="{{ "/assets/css/kotor1.css" | relative_url }}">
    {% elsif game == "kotor2" %}
    <link rel="stylesheet" href="{{ "/assets/css/kotor2.css" | relative_url }}">
    {% else %}
    <link rel="stylesheet" href="{{ "/assets/css/kotor0.css" | relative_url }}">
    {% endif %}


</head>

<body>
    <div class="navbar">
        <div class="navbar_section">
            <a href="/">
                <p title="Home">KSR</p>
            </a>
        </div><div class="navbar_section" style="text-align: right;">
            {% assign file = page.url | split: "/" | compact | last %}
            {% if page.url == "/"%}
            <a href="https://github.com/kotor-speedruns/kotor-speedruns.github.io">
                <img class="svg" src="{{ "/assets/images/github.svg" | relative_url }}" title="Contribute" alt="Github Page">
            </a>
            {% else %}
            <a href="https://github.com/kotor-speedruns/kotor-speedruns.github.io/blob/main/{{ page.path }}">
                <img class="svg" src="{{ "/assets/images/github.svg" | relative_url }}" title="Contribute" alt="Github Page">
            </a>
            {% endif %}
            {% if game == "kotor1" %}
            <a href="https://www.speedrun.com/kotor1">
                <img class="svg" src="{{ "/assets/images/SRC.svg" | relative_url }}" title="Leaderboards" alt="Kotor 1 Leaderboards">
            </a>
            {% elsif game == "kotor2" %}
            <a href="https://www.speedrun.com/kotor2">
                <img class="svg" src="{{ "/assets/images/SRC.svg" | relative_url }}" title="Leaderboards" alt="Kotor 2 Leaderboards">
            </a>
            {% else %}
            <a href="https://www.speedrun.com/series/kotor">
                <img class="svg" src="{{ "/assets/images/SRC.svg" | relative_url }}" title="Leaderboards" alt="Kotor Series Leaderboards">
            </a>
            {% endif %}
            <a href="http://discord.gg/Q2uPRVu">
                <img class="svg" src="{{ "/assets/images/discord.svg" | relative_url }}" title="Discord" alt="Join our Discord Server!">
            </a>
        </div>
    </div>
    <div class="container-lg px-3 my-5 markdown-body">
        {{ content }}
    </div>
    <!-- <div class="footer">
        <ul>
            <li><a href="http://discord.gg/Q2uPRVu">KotOR Discord</a></li>
            <li><a href="https://www.speedrun.com/">KotOR Speedrun.com</a></li>
            <li><a href="/about/">About</a></li>
        </ul>
    </div> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.0/anchor.min.js" integrity="sha256-lZaRhKri35AyJSypXXs4o6OPFTbTmUoltBbDCbdzegg=" crossorigin="anonymous"></script>
    <script>
        anchors.add();
    </script>
</body>

</html>