<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {%- seo -%}
    {% assign dirs = page.url | split: "/"%}
    {% if dirs[1] == "kotor1"%}
    <link rel="stylesheet" href="{{ "/assets/css/kotor1.css" | relative_url }}">
    {% elsif dirs[1] == "kotor2"%}
    <link rel="stylesheet" href="{{ "/assets/css/kotor2.css" | relative_url }}">
    {% else %}
    <link rel="stylesheet" href="{{ "/assets/css/kotor0.css" | relative_url }}">
    {% endif %}


</head>

<body>
    <div class="navbar">
        <div class="navbar_section">
            <a href="/">
                <p>KSR</p>
            </a>
        </div><div class="navbar_section" style="text-align: right;">
            <a href="http://discord.gg/Q2uPRVu">
                <img class="svg" src="{{ "/assets/images/discord.svg" | relative_url }}">
            </a>
        </div>
    </div>
    <div class="container-lg px-3 my-5 markdown-body">
        {{ content }}
    </div>
    <!-- <div class="footer">
        <ul>
            <li><a href="http://discord.gg/Q2uPRVu">KotOR Discord</a></li>
            <li><a href="https://www.speedrun.com/">KotOR Speedrun.com</a></li>
            <li><a href="/about/">About</a></li>
        </ul>
    </div> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.0/anchor.min.js" integrity="sha256-lZaRhKri35AyJSypXXs4o6OPFTbTmUoltBbDCbdzegg=" crossorigin="anonymous"></script>
    <script>
        anchors.add();
    </script>
</body>

</html>